.brutal-image {
    margin:0;
    width:100vw;
    height:90vh;
    & .container {
        height:90vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        overflow: hidden;
        background-size: auto 90vh;
    }
    & .image {
        visibility:hidden;
        width:auto;
        height:90vh;
        margin:0;
    }
}

@supports (background-attachment: fixed){
    .brutal-image .container {
        background-size: auto 100vh;
    }
}