.brutal-image {
    margin:0;
    width:100vw;
    height:90vh;
    & .container {
        height:90vh;
        background-attachment: fixed;
        background-size: auto 100vh;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
    }
    & .image {
        visibility:hidden;
        width:auto;
        height:100vh;
        margin-top:-5vh;
        margin-bottom: -5vh;
    }
}