.post-item {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
}

.post-item__picture{
    display:flex;
    align-content:center;
    align-items:baseline;
    &>* {
        flex:1 1 0;
        display:flex;
        flex-direction:column;
        align-content:center;
        align-items:center;
    }
}