<feed-view>
	<section class="posts" >
		<div each="{post in (!opts.state.item.id?opts.state.feed.items:[])}">
			<post-view state="{parent.opts.state}" post="{post}"></post-view>
		</div>
	</section>
	<section class="feed-navigation">
		<a each="{opts.state.feed.prev?[opts.state.feed.prev]:[]}" href="{this}">older</a>
		<a each="{opts.state.feed.next?[opts.state.feed.next]:[]}" href="{this}">newer</a>
	</section>
	<script>
		this.showall = function showall(){
			this.opts.dispatch({type:'show all items'});
		}.bind(this);
	</script>
</feed-view>