.feed-item{
    margin:0;
    padding:1em;
    z-index: 1;
    .metadata {
        margin-top: 1em;
        padding-top:1em;
        font-size:small;
        text-align:right;
        border-top:dashed 0.5vmin;
    }
    .ext-url{
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        font-size:large;
        width:90%;
    }
}