@viewport {
    width: device-width;
    zoom: 1;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}

@import 'scss/settings';

@import 'scss/type';
@import 'scss/title';
@import 'scss/footer';

@import 'components/brutal-image/brutal-image';
@import 'components/clusterfriend-item/clusterfriend-item';
@import 'components/clusterfriend-feed/clusterfriend-feed';