* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}

@import 'scss/settings';

@import 'scss/type';
@import 'scss/title';
@import 'scss/item';

@import 'components/brutal-image/brutal-image';
@import 'components/clusterfriend-item/clusterfriend-item';