.title {
    font-family: sans-serif;
    font-size: 16vw;
    letter-spacing: -0.2em;
    word-spacing: 0.25em;
    white-space: nowrap;
    word-break: keep-all;
    overflow:hidden;
    line-height: 1em;
    margin-bottom: -0.1em;
    margin-top: -0.1em;
    margin-left: -0.1em;
    color:white;

    &.fixed{
        background: transparent;
        z-index: 250;
        position:fixed;
        left:0;
        top:0;
    }

    &.dummy {
        background: black;
        color: transparent;
    }
}
