@import url('https://fonts.googleapis.com/css?family=Heebo:700');

.base-type {
    font: 100%/1.5;
    font-family: 'Heebo', sans-serif;
    font-size: 2em;
}

html {
    @extend .base-type;
}

.even-smaller {
    font-size: 0.5em;
}