.base-type {
    font: 100%/1.5;
    font-size: 2em;

    font-family: monospace;//, "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

html {
    @extend .base-type;
}

small {
    font-size: 0.5em;
}

.even-smaller {
    font-size: 0.5em;
}