.new-item {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}
.new-item .field {
    flex: 1 1 auto;
    align-self:stretch;
}
.new-item .field>* {
    width:100%;
}
.new-item .photo-list {
    display:flex;
    flex-flow:row nowrap;
}

.new-item .photo-list>* {
    height:45vh;
    width:45vh;
    flex: 0 0 auto;
}

.new-item .uploader {
    display:flex;
    flex-flow:column nowrap;
}
.new-item .uploader>* {
    flex: 1 0 auto;
    align-self:center;
}

.new-item .uploader .cropper {
    width:300px;
    height:300px;
}
